<app-post-form [currentPost] = "currentPost" [isEdit] = "isEdit" (newPost) = "onNewPost($event)" (updatePost) = onUpdatePost($event)></app-post-form>

<div class="container">
  <h1>Posts</h1>
  <div class="">
    <div class="card mb-3" *ngFor="let post of posts">
      <div class="card-header">Post <a routerLink="/post/{{post.id}}" routerLinkActive="router-link-active" >{{ post.id }}</a></div>
      <div class="card-body"> 
          <h5 class="card-title">{{ post.id }} {{ post.title }}</h5>
          <p class="card-text">
            {{ post.body }}
          </p>
      </div>
      <div class="card-footer">
          <button class="btn btn-success mr-2" (click) = "editPost(post)"><i class="fa fa-pencil"></i></button>
          <button class="btn btn-danger" (click) = "deletePost(post)"><i class="fa fa-trash"></i></button>
      </div>
    </div>
  </div>
</div>